.header {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: wheat;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: cornsilk;
}