.sidebar {
  position: sticky;
  top: 0;
  right: 0;
  width: 20vw;
  min-width: 215px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: wheat;
}

.cartContainer {
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.5);
  background-color: burlywood;
  width: 15vw;
  min-width: 200px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 15vw;
  min-width: 200px;
  margin: 10px 0 0 0 ;
  background-color: rgba(197, 178, 142, 0.5);
  border-left: none;
  border-right: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color:rgb(255, 255, 255);
  transition: background-color 200ms ease-in-out;
}
.button:hover {
  cursor: pointer;
  background-color: cornsilk;
  transition-property: background-color;
  box-shadow: inset -2px -2px 5px wheat;
  transition: background-color 200ms ease-in-out;
}
.button:focus {
  outline: none;
}